@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
:root{
  --dark-text-color : #0B0D17;
  --light-text-color : #d0d6f9;
  --white-text-color : #FFFFFF;
  --gray-text-color: #464950;
  --hover-color: #85868b;
  --separator-color: #383B4B;
  --heading-font-family :  'Bellefair', serif;
  --font-family : 'Barlow Condensed', sans-serif;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family:var(--font-family);
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--light-text-color);
  line-height: 1.3;
}
.heading-1,.heading-2,.heading-3,.heading-4{
  font-family: var(--heading-font-family);
  text-transform: uppercase;
  color: var(--white-text-color);
}
.heading-1{
  font-size: 150px;
}
.heading-2{
  font-size: 100px;
}
.heading-3{
  font-size: 56px;
  margin-bottom: 1.5rem;
}
.heading-4{
  font-size: 32px;
}
.heading-5{
  font-size: 26px;
  letter-spacing: 4.75px;
  color: var(--white-text-color);
  margin-bottom: 1rem;
}
.nav-text{
  font-size: 16px;
  letter-spacing: 2.7px;
  color: var(--hover-color);
  margin-right: 2rem;
  height: 100%;
  text-transform: uppercase;
  cursor: pointer;
  padding: 2rem 0;
}
.subheading-1{
  font-size: 28px;
  text-transform: uppercase;
}
.subheading-2{
  font-size: 14px;
  letter-spacing: 2.35px;
  text-transform: uppercase;
}
a{
  text-decoration: none;
}
.links{
  display: inline-block;
  transition: all .3s ease;
  padding-right: 1rem;
}
.mobile-menu{
  display: none;
}
.nav-number{
  color: var(--white-text-color);
}
.line{
  height: 1px;
  background-color: var(--separator-color);
  width: 35%;
  position: absolute;
  left: 8rem;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding-left: 1.2rem;
  position: relative;
}
.nav-items{
  width: 70%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(1.5rem);
  padding: 2rem 0;
  padding-left: 9rem;
}
.nav-text:hover{
  border-bottom: 2px solid var(--hover-color);
  color: var(--hover-color);
}
.active{
  border-bottom: 2px solid #ffffff;
  color: var(--white-text-color);
}

/* CHECKBOX NAVBAR HACK */
/* .ham-line{
  width: 20px;
  height: 2px;
  background-color: var(--white-text-color);
  margin-bottom: 4px;
}
.toggle, #checkbox{
  display: none;
} */

@media  screen and (max-width: 1036px){
  .logo{
    margin-top: 1.2rem;
  }
  .line{
    display: none;
  }
  .nav{
    height: 75px;
    align-items: flex-start;
  }
  .nav-number{
    display: none;
  }
  .nav-items{
    width: auto;
    padding: 2rem 0;
    padding-left: 3rem;
  }
}
@media screen and (max-width: 700px){
  .nav-items{
    position: absolute;
    width: 250px;
    min-height: 100vh;
    top: 0;
    right: 0;
    display: none;
    padding-top: 5rem;
    transition: all 0.3s ease;
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(15px);
  }
  .mobile-nav-items{
    display: block;
  }
  .nav-text{
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  .nav-text:hover{
    border: none;
    color: #ffffff;
  }
  .active{
    border: none;
  }
  .links{
    display: block;
    transition: all .3s ease;
    padding: 1rem 0;
  }
  .mobile-menu{
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 1001;
    transition: transform 0.5s ease;
  }
  .nav-number{
    display: inline-block;
  }
  /* CHECKBOX NAVBAR HACK */
  /* .toggle{
    display: block;
    margin-top: 2rem;
    margin-right: 2rem;
    z-index: 1001;
    transition: transform 0.5s ease;
  } */
  /* #checkbox:checked ~ .nav-items{
    display: block;
  }
  #checkbox:checked ~ .toggle .ham-line:nth-child(1){
    transform: translateY(6px) rotate(-45deg)
  }
  #checkbox:checked ~ .toggle .ham-line:nth-child(3){
    transform: translateY(-6px) rotate(45deg)
  }
  #checkbox:checked ~ .toggle .ham-line:nth-child(2){
    opacity: 0;
  } */
}

/* End of navbar style   */
/* Home  */
@media screen and (min-width: 1036px){
  .explore{
    background-color: var(--white-text-color);
    color: var(--dark-text-color);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .explore .heading-4{
    color: var(--dark-text-color);
  }
  .home-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 6rem;
  }
  .home-text{
    max-width: 25rem;
  }
  .number{
    color : var(--gray-text-color)
  }
}
@media screen and (max-width: 1036px){
  .heading-1{
    font-size: 130px;
  }
  .heading-4{
    font-size: 32px;
  }
  .heading-5{
    font-size: 20px;
    letter-spacing: 4.75px;
    color: var(--white-text-color);
    margin-bottom: 1rem;
  }
  .text{
    max-width: 400px;
    margin: 0 auto;
  }
  .home-grid{
    display: block;
    text-align: center;
  }
  .home-text{
    padding: 0 1rem;
    margin: 9rem auto;
  }
  .explore{
    background-color: var(--white-text-color);
    color: var(--dark-text-color);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
  }
  .explore .heading-4{
    color: var(--dark-text-color);
  }
}

@media screen and (max-width: 700px){
  .heading-1{
    font-size: 90px;
  }
  .heading-4{
    font-size: 32px;
  }
  .heading-5{
    font-size: 20px;
    letter-spacing: 4.75px;
    color: var(--white-text-color);
    margin-bottom: 1rem;
  }
  .text{
    max-width: 400px;
    margin: 0 auto;
  }
  .home-grid{
    text-align: center;
  }
  .home-text{
    padding: 0 1rem;
    margin: 3rem auto;
  }
  .explore{
    background-color: var(--white-text-color);
    color: var(--dark-text-color);
    height: 200px;
    width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
  }
  .explore .heading-4{
    color: var(--dark-text-color);
  }
}

/* Destination page */
@media screen and (min-width: 1036px) {
  .destination-main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 10rem;
  }
  .title{
    padding: 1rem 7rem;
  }
  .grid-2{
    width: 20rem;
    margin-left: 5rem;
  }
  .separator{
    height: 1px;
    background-color: var(--separator-color);
    margin-block: 2rem;
  }
  .i{
    font-size: 16px;
    letter-spacing: 2.7px;
    color: var(--hover-color);
    margin-right: 2rem;
    height: 100%;
    cursor: pointer;
  }
  .destination-main img{
    width: 90%;
  }
  .inner-nav{
    display: flex;
    margin-bottom: 2rem;
    margin-right: 2rem;
  }
  .bottom-flex{
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1036px) {
  .destination-main{
    text-align: center;
    margin-top: 2rem;
  }
  .separator{
    height: 1px;
    background-color: var(--separator-color);
    margin-block: 2rem;
  }
  .i{
    padding-bottom: .3rem;
  }
  .inner-nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
  }
  .heading-3{
    margin-top: 2rem;
  }
  .destination-main img{
    width: 70%;
    margin: 1rem 0 3rem;
  }
  .bottom-flex{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
  }
  .grid-2{
    padding-inline: 1rem;
  }
  .destination-description{
    max-width: 400px;
  }
  .destination-description{
    margin: 0 auto;
  }
  .title{
    margin: 2rem;
  }
}

@media screen and (max-width: 700px){
  .destination-main img{
    width: 70%;
    margin-block: 1rem;
  }
  .bottom-flex{
    display: block;
  }
  .travel{
    margin: 1.5rem 0;
  }
  .i.active{
    border-bottom: 2px solid #ffffff;
    color: var(--white-text-color);
  }
}

/* Crew component */
.crew-main{
  display: grid;
  place-items: center;
}
.role{
  color : var(--gray-text-color);
  margin: 3rem 0 1.5rem;
}
.bio{
  max-width: 500px;
}
.mobile-circles{
  display: none;
}
.crew-main .separator{
  display: none;
}
.crew-main img{
  width: 25%;
  position: absolute;
  bottom: 0;
  right: 6rem;
}
.circles{
  width: 15px;
  height: 15px;
  background-color: var(--gray-text-color);
  border-radius: 100%;
  margin-right: 2rem;
  margin-top: 4rem;
  cursor: pointer;
}
.circles:hover{
  background-color: var(--white-text-color);
}
.active-circle{
  background-color: var(--white-text-color)
}
@media screen and (max-width: 1036px){
  .bio{
    padding-inline: 1rem;
    margin: 0 auto;
  }
  .crew-main img{
    width: 70%;
    position: static;
  }
}
@media screen and (max-width: 700px){
  .crew-main img{
    width: 90%;
  }
  .crew{
    text-align: center;
  }
  .crew-main{
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 2rem;
  }
  .circles{
    width: 15px;
    height: 15px;
  }
  .crew-main .heading-3{
    font-size:30px;
  }
  .main-circles{
    display: none;
  }
  .mobile-circles{
    display: flex;
    gap: 1px;
    justify-content: center;
  }
  .crew-main .separator{
    display: block;
    margin: 0 1rem;
  }
}


/* technology component */
.numbered-circles{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border: 1px solid var(--gray-text-color);
  border-radius: 100%;
  margin-top: 1.5rem;
  cursor: pointer;
}
.numbered-circles:hover{
  border: 1px solid var(--white-text-color);
}
.active-numbered-circle{
  color: var(--dark-text-color);
  border: 1px solid var(--gray-text-color);
  background-color: var(--white-text-color);
}
.circles-container{
  gap: .6rem;
}
.tech-text .terminology{
  margin-bottom: 1.5rem;
}
.technology-main img{
  width: 100%;
}
.landscape-image{
  display: none;
}
.tech-text{
  padding-inline: 2rem;
}
@media screen and (min-width: 1036px) {
  .technology{
    padding-left: 5rem;
  }
  .technology .title{
    margin: 3rem 0 5rem;
    padding: 0;
  }
  .technology-main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .inner-flex{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .description{
    width: 65%;
  }
}
@media screen and (max-width: 1036px) {
  .landscape-image{
    display: block;
  }
  .landscape-image img{
    width: 100%;
  }
  .image-container{
    display: none;
  }
  .technology-main{
    display: block;
    text-align: center;
  }
  .inner-flex{
    display: block;
  }
  .circles-container{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .circles-container .heading-4{
    font-size: 25px;
  }
  .numbered-circles{
    width: 50px;
    height: 50px;
  }
  .description{
    max-width: 500px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 700px){
  .technology{
    text-align: center;
  }
  .description{
    width: 100%;
  }
  .tech-text .heading-3{
    font-size: 30px;
  }
}
